[Unit]
Description=Kiln CI isolated Docker network
Requires=docker.service
After=docker.service
Before=kiln-controller.service
PartOf=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/libexec/kiln/network-setup
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
